<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">General</li>
		<li class="active"><a href="/doc/general/concepts">EIP concepts</a></li>
		<li><a href="/doc/general/configuration">Configuration</a></li>
		<li><a href="/doc/general/errorhandling">Error handling</a></li>
		<li><a href="/doc/general/examples">Examples</a></li>
		<li class="nav-header">Processors</li>
		<li><a href="/doc/processors/">Introduction</a></li>
		<li><a href="/doc/processors/logging">Logging</a></li>
		<li><a href="/doc/processors/aggregation">Aggregation</a></li>
		<li><a href="/doc/processors/conversion">Event translation</a></li>
		<li><a href="/doc/processors/dispatching">Routing</a></li>
		<li><a href="/doc/processors/throttler">Throttling</a></li>
		<li class="nav-header">Developing</li>
		<li><a href="/doc/developer/processors">Developing processors</a></li>
	</ul>
</div>
