<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Introduction</li>
		<li><a href="{{site.baseurl}}/">Home</a></li>
		<li><a href="{{site.baseurl}}/doc/general/download">Download</a></li>
		<li><a href="{{site.baseurl}}/doc/general/gettingStarted">Getting Started</a></li>
		<li><a href="{{site.baseurl}}/doc/general/concepts">EIP concepts</a></li>
		<li><a href="{{site.baseurl}}/doc/developers/">For developers</a></li>
		<li class="nav-header">General</li>
		<li><a href="{{site.baseurl}}/doc/general/configuration">Configuration</a></li>
		<li><a href="{{site.baseurl}}/doc/general/errorhandling">Error handling</a></li>
		<li><a href="{{site.baseurl}}/doc/general/examples">Examples</a></li>
		<li class="nav-header">Processors</li>
		<li><a href="{{site.baseurl}}/doc/processors/">Introduction</a></li>
		<li><a href="{{site.baseurl}}/doc/processors/logging">Logging</a></li>
		<li><a href="{{site.baseurl}}/doc/processors/aggregation">Aggregation</a></li>
		<li><a href="{{site.baseurl}}/doc/processors/conversion">Event translation</a></li>
		<li><a href="{{site.baseurl}}/doc/processors/dispatching">Routing</a></li>
		<li><a href="{{site.baseurl}}/doc/processors/throttler">Throttling</a></li>
		<li class="nav-header">Developing</li>
		<li><a href="{{site.baseurl}}/doc/developers/processors">Developing processors</a></li>
	</ul>
</div>
