<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Node-eip by jkanschik</title>

    <link href="{{ site.baseurl }}/stylesheets/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ site.baseurl }}/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
	          <li><a href="https://github.com/jkanschik/node-eip/zipball/master">Download <strong>ZIP File</strong></a></li>
	          <li><a href="https://github.com/jkanschik/node-eip/tarball/master">Download <strong>TAR Ball</strong></a></li>
	          <li><a href="https://github.com/jkanschik/node-eip">View On <strong>GitHub</strong></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
		<div class="row-fluid">
			<div class="span3">
				{% include docSidebar.html %}
			</div>
			<div class="span9">
			