body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h1, h2 {
  border-bottom: 1px solid #e5e5e5;
}

h1 {
  font-size: 1.5em;
  line-height: 1.8em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 0.2em;
}
